.container-login {
  height: 100vh;
  
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .login-content {
    h1 {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: var(--caption);

      margin-top: 1rem;
    }
  }
}
  
.button-login {
  height: 3.5rem;
  width: 40rem;
  
  color: var(--text);
  background: none;
  font-size: 18px;
  
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, var(--gray-blue), var(--white)) 1;
  
  margin-top: 2rem;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  >svg {
    font-size: 24px;
    margin-right: 0.4rem;
  }
  
  transition: background-color .3s;
  
  &:hover {
    background-color: var(--background-light);
  }
}
  
.logo-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  
  >img {
    width: 300px;
    height: 300px;
  }
}

/*=============== BREAKPOINTS ===============*/

@media screen and (min-width: 220px) and (max-width: 300px) {
  .container-login {
    margin-left: 1rem;
    margin-right: 1rem;

    .login-content {
      h1 {
        font-size: var(--big-font-size);
      }
    }
  }

  .button-login {
    width: 12rem;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: var(--small-font-size);
  }

  .logo-login {
    >img {
      width: 250px;
      height: 225px;
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 320px) {
  .container-login {
    margin-left: 1rem;
    margin-right: 1rem;

    .login-content {
      h1 {
        font-size: var(--big-font-size);
      }
    }
  }

  .button-login {
    width: 15rem;
    font-size: var(--medium-font-size);
  }
}

/* For small to medium devices */
@media screen and (min-width: 320px) and (max-width: 620px) {
  .container-login {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .button-login {
    width: 18rem;
  }
}

/* For medium devices */
@media screen and (min-width: 620px) and (max-width: 1024px) {
  .container-login {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .button-login {
    width: 30rem;
  }
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .container-login {
    margin-left: auto;
    margin-right: auto;
  }
}