.main {
  position: relative;
  background-color: var(--background);
  transition: .4s;
}
  
/* Show menu */
.show-menu {
  transform: translate(70%);
}
  
/* Change background header */
.scroll-header {
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
}

/*=============== BREAKPOINTS ===============*/

/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* For small to medium devices */
@media screen and (min-width: 320px) and (max-width: 620px) {

}

/* For medium devices */
@media screen and (min-width: 620px) and (max-width: 1024px) {

}

@media screen and (min-width: 767px) {

}

/* For large devices */
@media screen and (min-width: 1024px) {
  .containerHome {
    margin-left: auto;
    margin-right: auto;
  }
}
  